:root{
    --green: #09d36c;
}
@font-face {
    font-family: 'Averta-Bold';
    src: url('../fonts/(Averta-Bold)Averta-Bold.ttf');
}
@font-face {
    font-family: 'Averta-Regular';
    src: url('../fonts/(Averta-Regular)Averta-Regular.ttf');
}
@font-face {
    font-family: 'DMSans-Regular';
    src: url('../fonts/(DMSans-Regular)DMSans-Regular.ttf');
}

html, body {
    height: 100vh;
    width: 100vw;
    font-family: 'Averta-Regular';
    /* overflow-x: hidden; */
}
h1{
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
.hero{
    background: url('../img/banner.gif') no-repeat center center;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 57%);
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
    margin-bottom: 250px;
}
.banner-container{
    top: 0px;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
}
.banner-img{
    height: 100%;
    width: 100%;
    position: relative;
}
.gradient{
    background: linear-gradient(to top, rgba(255, 255, 255, 0.01), rgba(2, 0, 93, 0.6));
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
    width: 100%;
    position: relative;
}
.navbar{
    background-color: transparent;
    padding: 0 100px;
    z-index: 100;
    top: 0px;
    position: absolute;
    width: 100vw;
}
.navbar li{
    font-size: 20px;
    margin: 0 25px;
}
.nav-link{
    color: #fff !important;
}
.navbar-light .navbar-toggler-icon{
    background-image: url('../img/collapse-icon.png');
}
.navbar-light .navbar-toggler{
    border-color: transparent;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.btn{
    width: 160px;
    height: 50px;
    border-radius: 0;
    border-width: 3px;
    font-size: 19px;
}
.banner-text{
    position: absolute;
    top: 325px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
#feel-the-envira{
    color: #fff;
}
#advantage{
    color: var(--green);
    margin-top: -25px;
}
#tagline{
    color: #fff;
    font-size: 22px
}
.about-btn{
    margin-top: 20px;
}
.card-container{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
}
.card {
    width: 346px;
    height: 386px;
    padding: 40px 15px;
    text-align: center;
    background-color: #fdfdfd;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.1);
}
.margin-card{
    margin-right: 100px;
}
.card-img-top{
    width: 100px;
    margin: 0 auto;
    margin-bottom: 15px;
}
p#condition{
    margin-top: 45px;
}
.card-title{
    padding: 0 35px;
}
.partners-container{
    text-align: center;
    margin-bottom: 100px;
}
.partners-title{
    color: var(--green);
    text-align: center;
    font-family: 'Averta-Bold';
    margin-bottom: 50px;
}
.partner-logos{
    display: inline;
}
.partner-logos img{
    margin: 0 50px;
}
.hero.hero2{
    background: url('../img/bin-man.jpg') no-repeat center center;
    clip-path: none;
    background-size: cover;
    height: 750px;
    margin-bottom: 150px;
}
.dark-overlay{
    background: #000;
    opacity: 0.4;
    height: 100%;
}
.banner-text.hero-text{
    top: 1440px;
    width: 630px;
    text-align: left;
    color: #fff;
    left: 0;
    transform: none;
    margin-left: 125px;
    margin-bottom: 100px;
}
.banner-text.hero-text h1{
    margin-bottom: 25px;
}
.banner-text.hero-text p{
    margin-bottom: 25px;
    font-size: 22px;
}
.news-articles-container{
    display: flex;
    justify-content: center;
    padding: 0 150px;
}
.news-article{
    width: 50%;
}
.author{
    color: #2d89fc;
    font-size: 20px;
}
.news-article img{
    margin-bottom: 20px;
}
