:root{
    --green: #09d36c;
}
@font-face {
    font-family: 'Averta-Bold';
    src: url('../fonts/(Averta-Bold)Averta-Bold.ttf');
}
@font-face {
    font-family: 'Averta-Regular';
    src: url('../fonts/(Averta-Regular)Averta-Regular.ttf');
}
@font-face {
    font-family: 'DMSans-Regular';
    src: url('../fonts/(DMSans-Regular)DMSans-Regular.ttf');
}

html, body {
    height: 100vh;
    width: 100vw;
    font-family: 'Averta-Regular';
}
body{
    position: relative;
    overflow-x: hidden;
}
h1{
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
/********** Banner and navbar **********/ 
.hero{
    background: url('../img/banner.gif') no-repeat center center;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 57%);
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
    margin-bottom: 250px;
}
.banner-container{
    top: 0px;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
}
.banner-img{
    height: 100%;
    width: 100%;
    position: relative;
}
.gradient{
    background: linear-gradient(to top, rgba(255, 255, 255, 0.01), rgba(2, 0, 93, 0.6));
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
    width: 100%;
    position: relative;
}
.navbar{
    background-color: transparent;
    padding: 0 100px;
    z-index: 100;
    top: 0px;
    position: absolute;
    width: 100vw;
}
.navbar li{
    font-size: 20px;
    margin: 0 25px;
}
.nav-link{
    color: #fff !important;
}
.navbar-light .navbar-toggler-icon{
    background-image: url('../img/collapse-icon.png');
}
.navbar-light .navbar-toggler{
    border-color: transparent;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.btn{
    width: 185px;
    border-radius: 0;
    border-width: 3px;
    font-size: 21px;
    padding: 12px 30px;
}
.banner-text{
    position: absolute;
    top: 325px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
#feel-the-envira{
    color: #fff;
}
#advantage{
    color: var(--green);
    margin-top: -25px;
}
#tagline{
    color: #fff;
    font-size: 22px
}
.about-btn{
    margin-top: 20px;
}

/********** Cards **********/ 
.card-container{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
}
.custom-card {
    width: 346px;
    height: 386px;
    padding: 40px 15px;
    text-align: center;
    background-color: #fdfdfd;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.1);
}
.margin-card{
    margin-right: 100px;
}
.card-img-top{
    width: 100px;
    margin: 0 auto;
    margin-bottom: 15px;
}
p#condition{
    margin-top: 45px;
}
.card-title{
    padding: 0 35px;
}

/********** Partners **********/ 
.partners-container{
    text-align: center;
    margin-bottom: 100px;
}
.partners-title{
    color: var(--green);
    text-align: center;
    font-family: 'Averta-Bold';
    margin-bottom: 50px;
}
.partner-logos img{
    margin: 0 50px;
}

/********** Hero image and text **********/ 
.hero.hero2{
    background: url('../img/bin-man.jpg') no-repeat center center;
    clip-path: none;
    background-size: cover;
    height: 700px;
    margin-bottom: 150px;
    width: 100%;
}
.dark-overlay{
    background: #000;
    opacity: 0.4;
    height: 100%;
}
.banner-text.hero-text{
    top: 1430px;
    width: 40%;
    text-align: left;
    color: #fff;
    left: 0;
    transform: none;
    margin-left: 125px;
    margin-bottom: 100px;
}
.banner-text.hero-text h1{
    margin-bottom: 40px;
}
.banner-text.hero-text p{
    margin-bottom: 50px;
    font-size: 20px;
}

/********** News Articles **********/ 
.news-articles-container{
    justify-content: center;
    margin-bottom: 125px;
}
/* .news-article{
    width: 50%;
} */
.author{
    color: #2d89fc;
    font-size: 20px;
}
.news-article img{
    margin-bottom: 20px;
    width: 100%;
}

/********** Video and text **********/ 
.video-container{
    flex-direction: column;
}
.next-btn{
    border-radius: 0;
    font-size: 25px;
    width: 500px;
    margin-left: 250px;
    padding: 40px;
    color: #fff;
    background-color: #2d89fc;
}
.next-btn span{
    border-bottom: 2px solid #fff;
    margin-right: 20px;
}
/* .grey-text-overlay-container{
    height: 100%;
} */
.grey-text-overlay{
    font-family: 'Averta-Regular';
    width: 100%;
    background-color: #f9f9f9;
    padding: 60px 80px;
}
.grey-text-overlay h3{
    margin-bottom: 20px;
    font-weight: bolder;
    width: 530px;
}
.grey-text-overlay .name, .grey-text-overlay .company{
    font-size: 22px;
    font-weight: bolder;
}
.button-and-text{
    align-items: flex-end;
    margin-top: -235px;
    z-index: 100;
}
#latest-news-and-updates h4.latest-news-title{
    margin-top: 150px;
    margin-bottom: 20px;
    color: var(--green);
    text-align: center;
}
#latest-news-and-updates .card{
    padding: 30px;
}
#latest-news-and-updates .col-lg-3{
    background-color: #f7f7f7;
    padding: 45px 50px;
    width: 30%;
}
.date-and-type{
    margin-bottom: 20px;
}
#latest-news-and-updates .social-media{
    background-color: var(--green);
    color: #fff;
}
.social-media h3{
    margin-top: 115px;
}