@media only screen and (max-width: 576px){
    .navbar{
        padding: 0;
    }
    .hero{
        clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 75%);
    }
    .card-container{
        flex-direction: column;
        top: 155%;
    }
    .card{
        margin: 0;
        margin-bottom: 40px;
        width: 346px;
        height: 346px;
    }
    #feel-the-envira, #advantage{
        font-size: 2.5rem;
    }
    #tagline{
        font-size: 18px;
    }
}