@media only screen and (max-width: 1250px){
    .margin-card{
        margin-right: 50px;
    }
    .card{
        width: 285px;
        height: 385px;
    }
    p#condition{
        margin-top: 20px;
    }
}
@media only screen and (max-width: 992px){
    .card-container{
        flex-direction: column;
        top: 140%;
    }
    .card{
        margin: 0;
        margin-bottom: 20px;
        width: 346px;
        height: 346px;
    }
}
@media only screen and (max-width: 768px){
    #feel-the-envira, #advantage{
        font-size: 2.5rem;
    }
    #tagline{
        font-size: 18px;
    }
}
@media only screen and (max-width: 576px){
    .navbar{
        padding: 0 20px;
    }
}