@media only screen and (max-width: 576px){
    .navbar{
        padding: 0;
    }
    .hero{
        clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 75%);
    }
    .card-container{
        flex-direction: column;
        top: 155%;
    }
    .card{
        margin: 0;
        margin-bottom: 40px;
        width: 346px;
        height: 346px;
    }
    #feel-the-envira, #advantage{
        font-size: 2.5rem;
    }
    #tagline{
        font-size: 18px;
    }

    section#partner-images{
        margin-top: 1050px;
    }
    .partner-logos img:nth-child(3), .partner-logos img:nth-child(5){
        display: none;
    }
    .partner-logos img{
        margin: 0 15px;
        width: 100px;
    }
    .hero.hero2{
        background-position: right;
    }
    .banner-text.hero-text{
        top: 2300px;
        margin-left: 0;
        margin-top: 200px;
        width: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .banner-text.hero-text h1{
        font-size: 32px
    }
    .banner-text.hero-text p{
        font-size: 16px;
    }

    .video-container video{
        width: 100%;
    }
    .button-and-text{
        flex-direction: row-reverse;
    }
    .next-btn{
        margin-left: 0;
        padding: 10px 15px;
        /* position: absolute; */
        font-size: 24px;
        width: 175px;
        z-index: 100;
    }
    .grey-text-overlay{
        padding: 20px 35px;
        width: 90%;
        margin-top: 235px;
        margin-right: auto;
    }
    .grey-text-overlay h3{
        width: 100%;
        font-size: 20px;
    }
    .grey-text-overlay .name, .grey-text-overlay .company{
        font-size: 18px;
    }
    .next-btn{
        font-size: 20px;
    }
    .next-btn span{
        margin-right: 10px;
    }
    .news-container .row{
        justify-content: center !important;
    }
    #latest-news-and-updates .news-container .col-lg-3.col-sm-12{
        width: 90%;
        margin-bottom: 20px;
    }
}